.large.section-header {
  width: 1200px;
  height: 1200px;
  background-size: 1200px 1200px;
}

h1.title {
	margin-top: 500px !important;
}

iframe {
  height: 1140px !important;
}

.full {
  height: 1200px !important;
}

.full-height {
  height: 1200px !important;
  background-size: auto 1200px;
}

.half-height {
	height: 600px !important;
}


table {
  height: 1150px !important;
}
